#lombok.anyConstructor.addConstructorProperties=true  →  javac -parameters ➕ copyableAnnotations ➕ @RequiredArgsConstructor(onConstructor_=@JsonCreator)

lombok.log.fieldName = logger
lombok.log.custom.declaration = java.util.logging.Logger java.util.logging.Logger.getLogger(NAME)
#lombok.log.custom.declaration = org.apache.commons.logging.Log org.apache.commons.logging.LogFactory.getLog(TYPE)

# https://docs.spring.io/spring-framework/reference/7.0/core/null-safety.html ➕ http://jspecify.org/docs/user-guide/ ➕ https://github.com/uber/NullAway/issues/917
lombok.addNullAnnotations = jspecify

lombok.var.flagUsage = error

lombok.addLombokGeneratedAnnotation = true

lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonProperty
lombok.copyableAnnotations += com.fasterxml.jackson.databind.annotation.JsonDeserialize
lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonFormat

config.stopBubbling = true

lombok.extern.findbugs.addSuppressFBWarnings = false
lombok.addSuppressWarnings = true
