I_DEPLOY_USERNAME}
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <server>
      <id>ossrh</id>
      <username>${env.CI_DEPLOY_USERNAME}</username>
      <password>${env.CI_DEPLOY_PASSWORD}</password>
    </server>
  </servers>
  <profiles>
  <profile>
    <id>ossrh</id>
    <properties>
      <gpg.keyname>D6FC3F14</gpg.keyname>
      <gpg.executable>gpg2</gpg.executable>
      <gpg.passphrase>Turtles all the way down</gpg.passphrase>
      <gpg.defaultKeyring>false</gpg.defaultKeyring>
      <gpg.useagent>true</gpg.useagent>
      <gpg.lockMode>never</gpg.lockMode>
      <gpg.homedir>/Users/larry/.gnupg</gpg.homedir>
      <gpg.publicKeyring>/Users/larry/.gnupg/pubring.gpg</gpg.publicKeyring>
      <gpg.secretKeyring>/Users/larry/.gnupg/secring.gpg</gpg.secretKeyring>
    </properties>
  </profile>
 <profile>
     <id>allow-snapshots</id>
        <activation><activeByDefault>true</activeByDefault></activation>
     <repositories>
       <repository>
         <id>snapshots-repo</id>
         <url>https://oss.sonatype.org/content/repositories/snapshots</url>
         <releases><enabled>false</enabled></releases>
         <snapshots><enabled>true</enabled></snapshots>
       </repository>
     </repositories>
   </profile>
  </profiles>
</settings>
